<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

    <head>
        <title>CV ADO 2 - Mariana Spinelli</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/estilos.css}" rel="stylesheet">
    </head>
    <body>
        <div>
        <h1>Dados Pessoais</h1>
        <p>Nome: <span th:text="${dadosPessoais.nome}"></span></p> <!-- dadosPessoais.nome equivale a dadosPessoais.getNome() -->
        <p>Data nascimento: <span th:text="${dadosPessoais.dataNascimento}"></span></p>
        <p>Telefone: <span th:text="${dadosPessoais.telefone}"></span></p>
        <p>E-mail: <span th:text="${dadosPessoais.email}"></span></p>
        <div>

    </body>
</html>
